<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <%- include('../partials/_nav') %>
  <%- include('../partials/_flash') %>

  <h1>Login</h1>

  <form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <label>Email</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Log In</button>
  </form>

</body>
</html>
