<% if (success && success.length) { %>
  <div>
    <% success.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div>
    <% error.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>
