<footer class="er-footer">
  <div class="footer-inner">

    <div class="footer-brand">
      <img src="/images/ella-logo.PNG" alt="Ella Rises Logo" class="footer-logo">
      <span>Ella Rises</span>
    </div>

    <div class="footer-social">
      <a href="https://www.instagram.com/ellarises/" target="_blank" aria-label="Instagram">
        <img src="/images/icons/instagram.svg" alt="Instagram" class="social-icon">
      </a>

      <a href="https://www.facebook.com/EllaRises" target="_blank" aria-label="Facebook">
        <img src="/images/icons/facebook.svg" alt="Facebook" class="social-icon">
      </a>
    </div>

    <div class="footer-copy">
      © <%= new Date().getFullYear() %> Ella Rises. All rights reserved.
    </div>

  </div>
</footer>
